@media screen and (min-width: 1200px) {
  #myInput {
    margin-left:10px;
    margin-right:10px;
    width:100%;
  }
  
  table {
    margin-left:10px;
    margin-right:10px;
    width:1200px;
    overflow:auto;
  }
}

body {
  background: #eaeaea;
  color:#393939;
  font-family:'Open Sans';
  font-size:11px;
}

a {
  text-decoration:none;
  color:#954531;
  background-color:#95453130;
}

a:hover {
  text-decoration:none;
  color:white;
  background-color:#954531;
}

ul {
	padding-left:20px;
}

ul ul {
	padding-left:20px;
}

ol {
	padding-left:20px;
}

#myInput {
  margin-left:2%;
  margin-right:2%;
  width:96%;
  height:40px;
  margin-top:20px;
  font-size:15px;
  padding-left:12px;
  margin-bottom:20px;
}

table {
  border-collapse:collapse;
  margin-left:2%;
  margin-right:2%;
  width:96%;
}

thead {
  font-weight:bold;
  font-size:12px;
  color:#eaeaea;
  background:#954531;
  text-align:center;
}

tbody td {
  border:0.5px solid #954531;
}

td {
  padding:5px;
}